.button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: var(--gutter) calc(var(--gutter) * 2);
  font-size: var(--content);
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: var(--white);
  background-color: var(--primary-orange1);
}

.button:hover, .button:focus {
  color: var(--primary-orange1);
  background-color: var(--white);
}

button:disabled,
button[disabled] {
  pointer-events: none;
}