@import "./sanitize.css";
@import "./variables.css";
@import "./typography.css";
@import "./helper.css";

html {
  font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem);
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
  overflow: hidden;
}