/* Here we define our typography styles for our CSS
*/

h1 {
  font-size: var(--font-heading1);
}

h2 {
  font-size: var(--font-heading2);
}

h3 {
  font-size: var(--font-heading3);
}

h4 {
  font-size: var(--font-heading4);
}

h5 {
  font-size: var(--font-heading5);
}

h6 {
  font-size: var(--font-heading6);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
